

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.gdi-main .gdi-banner {

    border-radius: 10px;
    background-color: #f7d7d9;
    box-shadow: 0px 0px 20px #cccccc;
    border: solid 2px #cccccc;
}

.gdi-main .gdi-logo {
    border-radius: 10px;
    margin: 10px 0px;
    box-shadow: 0 0 10px #bbbbbb;
}

.gdi-pad-col {
    background-color: #f0e2e9;
    border-radius: 10px;
    margin: 10px;
    padding: 10px 20px;
}

.gdi-mission {
    margin-top: 20px;
}

.gdi-icon {
    height: 30px;
    margin-right: 10px;
}

.gdi-home {
    margin-top: 20px;
}

.gdi-pad-col, .gdi {
    box-shadow: 0px 0px 20px #cccccc;
    border: solid 2px #cccccc;
}

.gdi-home .gdi-pad-col {
    background-color: #c3e2a5;
}

.gdi-classes .gdi-pad-col {
    background-color: #d9e2f2;
}

.gdi-links .gdi-pad-col {
    background-color: #F7E8BB;
}















