

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.gdi-main .gdi-banner {
    margin: 10px 10px 0px 10px;
    border-radius: 20px;
    background-color: #f0d9d0;
}

.gdi-main .gdi-logo {
    border-radius: 20px;
    margin: 10px 0px;
}

.gdi-pad-col {
    background-color: #f0e2e9;
    border-radius: 20px;
    margin-right: 20px;
    padding: 10px 20px;
    margin-top: 10px;
}

.gdi-mission {
    margin-top: 20px;
}

.gdi-icon {
    height: 30px;
    margin-right: 10px;
}













